@model IEnumerable<GamesExplorer.Models.GameModel>
@{
    ViewBag.Title = "Games";
}


<h2>Games</h2>
<h3>Total: @Model.Count()  Cost: @Model.Sum(g=>g.Price).ToString("C")</h3>

<table class="table table-striped">
    <thead>
    <tr>
        <th>#</th>
        <th>Title</th>
        <th>Buy Date</th>
        <th>Price</th>
        <th>Activation Services</th>
        <th>Shop</th> 
        <th>Digital</th>
    </tr>
    </thead>
    <tbody>


    @for (int index = 0; index < @Model.ToList().Count; index++)
    {
        var m = @Model.ToList()[index];
        <tr>
            <td>@(index +1)</td>
            <td>@m.Title</td>
            <td>@m.BuyDate</td>
            <td>@m.Price.ToString("C")</td>
            <td>@m.ActivationServices</td>
            <td>@m.Shop</td>
            <td>@m.Digital</td>
            <td>@m.Dlc</td>


        </tr>
    }
    </tbody>
</table>
